@import '../bower_components/materialize/sass/materialize';
#place{
  .card-map{
    margin: auto;
  }
  .card{

    .card-content{
      .info{
          padding: 10px;
      }
      p{
        font-weight: 700;
        font-size: 15px;
      }
    }

    .card-reference{
      width: 250px;
    }
  }

  .card-panel-row{
    margin-top: 20px;
    div{
      .col{
        padding: 0px;
      }
    }

    a{
      color: #ffab40;
      &:hover{
        color: #ffd8a6;
      }
    }
  }
}


@media #{$small-and-down} {
   place{
     img{
        max-width: 180px;

        &.full-width{
          max-width: inherit;
        }
     }
   }
 }
