div.container#placa
  h3.main-title O Lugar
  p.lead Iremos celebrar o nosso casamento entre os dias 11 e 15 de Agosto de 2016.

  p.lead Convidamos para a confraternização nos dias 11 e 12, de Agosto de 2016, na pousada Rancho Cipó, Jaboticatubas-MG(Serra do Cipó).

  p.lead A cerimônia de casamento será realizada em 13 de Agosto de 2016, às 16 horas.
  div.row
    .container
      .card
        .card-image
          img(src='assets/images/estrada.jpg')
          span.card-title Pousada Rancho Cipó
        .card-content
          p.video-container
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.079045178507!2d-43.61376904933733!3d-19.322375986882985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5f03b2e5dfc17%3A0xf6f40a8bcf067eca!2sRancho+Cip%C3%B3+Pousada!5e0!3m2!1sen!2sbr!4v1464062267007', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')

          p CONTATO
          p 31 3718-7200
          p 31 99981-8195
          p 31 98492 8730
          p rancho@ranchocipo.com.br

        .card-action
          a(href="http://ranchocipo.com.br/pousada/" target="_blank") Site da pousada do Rancho Cipó.
