$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

html,
body {
  height: 100%;
}

body {
  background-color: white;// #EBE2D1;
  color           : #19245B;

  .header-title-container {
    color      : rgb(78, 79, 111);
    font-family: 'Open Sans', sans-serif;
    text-align : center;
    font-size: 25px;
    padding-bottom: 160px;
    .header-title {
      font-family: 'Powerpoint', cursive;
      font-size  : 100px;
      padding-top: 100px;
      height     : 110px;
      line-height: 60px;
      text-align : center;
      .date{
        font-size: 30px;
        margin: 50px;
      }
    }
  }


  .main-container {
    padding: 50px 80px;
    top: -150px;
  }
  .border-container{

      .middle-border{
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
        &.bottom-border{
            position: relative;
            bottom: -180px;
        }

      }

      .right-border{
        float: right;
      }

      &.top{
          margin-top: 50px;
      }
  }


  nav{
    box-shadow: none;
    background-color: transparent;
    ul{
      background-color: #DFB967;
      padding: 10px;
      a{
        color: #4e4f6f;
      }
    }
  }
}


@font-face {
  font-family: 'Powerpoint';
  src        : url('/assets/fonts/powerpoint_roxo.eot');
  src        : url('/assets/fonts/powerpoint_roxo.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/powerpoint_roxo.woff') format('woff'),url('/assets/fonts/powerpoint_roxo..ttf') format('truetype');
}

// Component styles are injected through grunt
/* inject:scss */
@import 'main/main';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
