$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/materialize/sass/materialize';

html,
body {
  height: 100%;
}

body {
  background-color: #EBE2D1;
  color           : #19245B;

  .header-title-container {
    color      : rgb(78, 79, 111);
    font-family: 'Open Sans', sans-serif;
    text-align : center;
    font-size: 25px;
    padding-bottom: 160px;
    .header-title {
      font-family: 'Powerpoint', cursive;
      font-size  : 100px;
      padding-top: 100px;
      height     : 110px;
      line-height: 60px;
      text-align : center;
      .date{
        font-size: 30px;
      }
    }
  }


  .main-container {
    top: -150px;
    position: relative;
    min-height: 50px;
    font-size: 20px;
    font-weight: 300;
    .main-title{
      font-family: 'Powerpoint', cursive;
      font-size: 50px;
      height: 110px;
      line-height: 60px;
      text-align: center;
    }

    @media #{$medium-and-down} {
      top: 0px;
    }
  }
  .border-container{

      .middle-border{
        max-width: 490px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: block;
        &.bottom-border{
            position: relative;
            bottom: -180px;
        }

      }

      .right-border{
        float: right;
      }

      &.top-container{
          margin-top: 50px;
      }

      &.bottom-container{
          margin-top:-150px;
          float: left;
          width: 100%;
      }

      @media #{$large-and-up} {
        &.bottom-container{
            margin-top:-300px;
        }
      }
  }
}




@font-face {
  font-family: 'Powerpoint';
  src        : url('/assets/fonts/powerpoint_roxo.eot');
  src        : url('/assets/fonts/powerpoint_roxo.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/powerpoint_roxo.woff') format('woff'),url('/assets/fonts/powerpoint_roxo..ttf') format('truetype');
}

// Component styles are injected through grunt
/* inject:scss */
@import 'main/main';
@import 'people/people';
@import 'place/place';
@import 'questions/questions';
@import 'rsvp/rsvp';
@import 'wishlist/wishlist';
@import '../components/footer/footer';
@import '../components/navbar/navbar';
/* endinject */
