.card-panel.grey.lighten-5.z-depth-1
  .row.valign-wrapper.no-margin
    .col.s6.m4
      img.circle.responsive-img(src="{{link}}", alt="{{name}}")
      // notice the "circle" class
    .col.s6.m8
      span {{name}}
