.row.hide-on-med-and-down.tabs-container
  ul.tabs
    li.tab.col.s2
      a.active(href='#test1') Home
    li.tab.col.s2
      a(href='#test2') Padrinhos
    li.tab.col.s2
      a(href='#test4') Local
    li.tab.col.s2
      a(href='#test4') Confirme sua Presença
    li.tab.col.s2
      a(href='#test4') Lista de Presentes
    li.tab.col.s2
      a(href='#test4') Dúvidas
