nav
  .nav-wrapper.container
    a.brand-logo(href='#!')
      img(src='/assets/images/heart.png')
    a.button-collapse.waves-effect.waves-light(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down
      li
        div Faltam {{numberOfRemainingDays}} dias para o casamento.
    ul#mobile-demo.side-nav
      li
        span.side-nav-header
          img(src='/assets/images/heart.png')
          | Faltam {{numberOfRemainingDays}} dias
        a(ui-sref="main") Home
      li.tab
        a(ui-sref="people") Padrinhos
      li.tab
        a(ui-sref="place") O Lugar
      li.tab
        a(ui-sref="rsvp") Sua Presença
      li.tab
        a(ui-sref="wishlist") Lista de Presentes
      li.tab
        a(ui-sref="questions") Dicas        

.header-title-container
  .header-title
    span Emília
    span
      img(src='/assets/images/heart.png')
    span Henrique
    p.date 13 de Agosto de 2016

ul.hide-on-med-and-down.tabs.menu.container
  li.tab
    a(ui-sref="main") Home
  li.tab
    a(ui-sref="people") Padrinhos
  li.tab
    a(ui-sref="place") O Lugar
  li.tab
    a(ui-sref="rsvp") Sua Presença
  li.tab
    a(ui-sref="wishlist") Lista de Presentes
  li.tab
    a(ui-sref="questions") Dicas            
