nav{
  background-color: #DFB967;
  ul{    
    div {
      font-size: 20px;
      font-family: 'Powerpoint', cursive;
      color: #19245B;
    }
    a{
      color: #19245B;
    }

  }
  .side-nav{
    background-color: rgba(223, 185, 103, 0.88);
    .side-nav-header{
      padding: 10px;
      color: #19245B;
      font-size: 26px;
      font-family: 'Powerpoint';
      top: 10px;
      position: relative;
    }
    a{
      color: #19245B;
      font-size: 26px;
      font-family: 'Powerpoint';
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.tabs.menu{
  background-color: transparent;
  li.tab{
    a{
      color: #F3616A;
      text-transform: uppercase;
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
