.container
  ul.hide-on-med-and-down
    li
      a(href='sass.html') Os noivos
    li
      a(href='badges.html') Padrinhos
    li
      a(href='collapsible.html') Local
    li
      a(href='mobile.html') Cerimônia
    li
      a(href='mobile.html') Confirme sua presença
    li
      a(href='mobile.html') Lista de presentes
    li
      a(href='mobile.html') Dúvidas
