nav
  .nav-wrapper.container
    a.brand-logo(href='#!')
      img(src='/assets/images/heart.png')
    a.button-collapse.waves-effect.waves-light(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down
      li
        div Faltam {{numberOfRemainingDays}} dias para o casamento.
    ul#mobile-demo.side-nav
      li
        a(ui-sref="main") Home
      li.tab
        a(ui-sref="people") Noivos e Padrinhos
      li.tab
        a(href='collapsible.html') Como Chegar
      li.tab
        a(href='mobile.html') Confirme Sua Presença
      li.tab
        a(href='#test4') Lista de Presentes
      li.tab
        a(href='#test4') Dúvidas

.header-title-container
  .header-title
    span Emília
    span
      img(src='/assets/images/heart.png')
    span Henrique
    p.date 13 de Agosto de 2016

ul.hide-on-med-and-down.tabs.menu.container
  li.tab
    a(ui-sref="main") Home
  li.tab
    a(ui-sref="people") Noivos e Padrinhos
  li.tab
    a(href='collapsible.html') Como Chegar
  li.tab
    a(href='mobile.html') Confirme Sua Presença
  li.tab
    a(href='#test4') Lista de Presentes
  li.tab
    a(href='#test4') Dúvidas
