nav{
  background-color: #DFB967;
  ul{
    div {
      font-size: 20px;
      font-family: 'Powerpoint', cursive;
      color: #19245B;
    }
    a{
      color: #19245B;
    }

  }
  .side-nav{
    background-color: #DFB967;
    a{
      color: #F3616A;
      letter-spacing: .8px;
      text-transform: uppercase;
      text-overflow: ellipsis;
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.tabs.menu{
  background-color: transparent;
  li.tab{
    a{
      color: #F3616A;
      &:hover{
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
