nav
  .nav-wrapper.container
    a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
    ul.right.hide-on-med-and-down.z-depth-1
      li
        a(href='sass.html') Os noivos
      li
        a(href='badges.html') Padrinhos
      li
        a(href='collapsible.html') Local
      li
        a(href='mobile.html') Cerimônia
      li
        a(href='mobile.html') Confirme sua presença
      li
        a(href='mobile.html') Lista de presentes
      li
        a(href='mobile.html') Dúvidas
    ul#mobile-demo.side-nav
      li
        a(href='sass.html') Os noivos
      li
        a(href='badges.html') Padrinhos
      li
        a(href='collapsible.html') Local
      li
        a(href='mobile.html') Cerimônia
      li
        a(href='mobile.html') Confirme sua presença
      li
        a(href='mobile.html') Lista de presentes
      li
        a(href='mobile.html') Dúvidas
