div#main
  .container
    .card
      .card-content 
        h3.main-title Sejam Bem-Vindos!
        p.lead Criamos esse site para compartilhar com vocês os detalhes da organização do nosso casamento. Estamos muito felizes e contamos com a presençaa de todos no nosso grande dia!
        p.lead Aqui vocês encontrarão também dicas para hospedagem, como chegar, agenda do casamento entre outras dicas. Ah! Nâo se esqueça de confirmar sua presença até o dia 01/08.
        br
        br
        div.video-container.container
          iframe(src="http://www.youtube.com/embed/yh4su_xGJ84" frameborder="0" allowfullscreen)
