div.container#main
  h3.main-title Sejam Bem-Vindos!
  p.lead Criamos esse site para compartilhar com vocês os detalhes da organização do nosso casamento. Estamos muito felizes e contamos com a presençaa de todos no nosso grande dia!
  p.lead Aqui vocês encontrarão também dicas para hospedagem, como chegar, agenda do casamento, etc.
  p.lead Ah, é importante também confirmar sua presença. Para isto contamos com sua ajuda clicando no menu "Confirme sua Presença" e preenchendo os dados necessários.
  div.video-container
    iframe(src="//www.youtube.com/v/OJY7mEVsAik&output=embed" frameborder="0" allowfullscreen)
