div.container#rsvp
  .card
    .card-content
      h3.main-title Confirme sua Presença
      p.lead Para podermos nos organizar melhor, é importante a confirmação de sua presença.
      br

  .card-content
    .card.hoverable
      .card-image
        img(src='assets/images/pousada_021.jpg').full-width
        span.card-title Confirmação de Presença
      .card-content.card-form
        .row
          .error-message(ng-show="errorMessage") 
            | Ocorreu um erro ao realizar a sua confirmação de presença. 
            br
            | Por favor, confirmar a presença pelo telefone: (31) 9204 2341 ou (31) 99204 2341
          .success-message(ng-show="successMessage") Sua confirmação foi realizada com sucesso!                      
          form.col.s12(name="confirmationForm" ng-submit="$ctrl.submitEmail(contact);" ng-show="!successMessage && !errorMessage")
            p Todos os campos são obrigatório            
            .row            
              .input-field.col.s12
                i.material-icons.prefix account_circle
                input#icon_prefix.validate(type='text', ng-model='contact.name', pattern='.{3,}[ ].{3,}', name="name", required)
                label(for='icon_prefix', data-error='Digite seu nome completo', data-success='Ok!') Nome Completo *
                
            .row
              .input-field.col.s12
                i.material-icons.prefix mail
                input#icon_email.validate(type='email', ng-model='contact.email', required, name="email")
                label(for='icon_email', data-error='Formato: email@domain.xyz',data-success='Ok!') E-mail *
            .row
              .input-field.col.s12.l6
                  i.material-icons.prefix phone
                  input#icon_telephone.validate(type='text', ng-model='contact.phone', required, name="phone")
                  label(for='icon_telephone',  data-error='Formato: DDXXXXXYYYY', data-success='Ok!') Telefone * 
              .input-field.col.s12.l6
                p.checkbox(ng-init='attend=true')
                  input#attend(type='checkbox', ng-model='contact.attend')
                  label(for='attend') Confirmo minha presença
                br
                br
                br
            .row
              .input-field.col.s12
                  button.waves-effect.waves-light.btn-large.my-btn(type="submit"  ng-disabled='confirmationForm.$submitted')
                    i.material-icons.right email
                    | Enviar                    
