div.container#questions
  h3.main-title Dúvidas  
  p.lead Em caso de dúvida, entre em contato conosco.            
  div.row
    .container
      .card
        .card-content 
          .row
            div
              label(for='icon_email', data-error='wrong',data-success='right') Aplauso Cerimonial
              p.contact-box 
               i.material-icons.prefix.s12.m6 mail 
               | rsvp@aplausocerimonial.com.br
              
        
