div.container#questions
  .card
    .card-content 
      h3.main-title Como Chegar
      label(for='icon_email', data-error='wrong',data-success='right') 
        i.material-icons.prefix.s12.m6 flight
        |  Avião
      .row                          
        div.col.s12
          p.contact-box 
           | O aeroporto mais próximo é o de Confins, a 60 quilômetros da Serra do Cipó. No aeroporto pode-se pegar um taxi ou alugar um carro. O aeroporto da Pampulha (centro de Belo Horizonte) fica a cem quilômetros
      br
      label(for='icon_email', data-error='wrong',data-success='right') 
        i.material-icons.prefix.s12.m6 directions_car 
        |  Carro
      .row                          
        div.col.s12
          p.contact-box                  
           | Vindo de Belo Horizonte, acesso pela MG-010, passando por Lagoa Santa. Mais adiante, após a travessia de uma ponte sobre o Rio das Velhas, segue-se em direção ao distrito Serra do Cipó, município de Santana do Riacho
      br
      label(for='icon_email', data-error='wrong',data-success='right') 
       i.material-icons.prefix.s12.m6 directions_bus 
       |  Ônibus
      .row                          
       div.col.s12
         p.contact-box                  
          | A empresa Saritur faz a linha Belo Horizonte X Serra do Cipó - 
          a.link-saritur(href='http://www.saritur.com.br', target='_blank') Site da Saritur
  br
  .row
    .card
      .card-content
        h3.main-title.second-title Translado Aeroporto-Serra do Cipó
        span Segue alguns telefones de taxistas que fazem o translado Aeroporto de Confins e a Serra do Cipó. 
        span Há a possibilidade de alugar van para grupos maiores, se necessário. 
        br
        br
        br
        label(for='icon_email', data-error='wrong',data-success='right') Jõao Carlos
        .row                          
          div.col.s12.l6
            p.contact-box 
             i.material-icons.prefix.s12.m6 phone 
             | (31) 8453 1016 - Claro
          div.col.s12.l6
              p.contact-box 
               i.material-icons.prefix.s12.m6 phone 
               | (31) 9784 1773 - Vivo
          div.col.s12.l6
             p.contact-box 
              i.material-icons.prefix.s12.m6 phone 
              | (31) 8970 3955 - OI
          div.col.s12.l6
             p.contact-box 
              i.material-icons.prefix.s12.m6 phone 
              | (31) 9353 3859 - TIM                   
        br
        label(for='icon_email', data-error='wrong',data-success='right') Fabiano
        .row                          
          div.col.s12.l6
            p.contact-box 
             i.material-icons.prefix.s12.m6 phone 
             | (31) 99171-8579

         label(for='icon_email', data-error='wrong',data-success='right') Geovane
         .row                          
           div.col.s12.l6
             p.contact-box 
              i.material-icons.prefix.s12.m6 phone 
              | (31) 98862 4940
          label(for='icon_email', data-error='wrong',data-success='right') Edmar
          .row                          
            div.col.s12.l6
              p.contact-box 
               i.material-icons.prefix.s12.m6 phone 
               | (31) 99948 0451
               
           label(for='icon_email', data-error='wrong',data-success='right') Welignton
           .row                          
             div.col.s12.l6
               p.contact-box 
                i.material-icons.prefix.s12.m6 phone 
                | (31) 99795 4069
                  
      
  .row
    .card
      .card-content
        h3.main-title Dúvidas
        span Para mais informações, em contato com o cerimonial Aplauso.
        br
        br          
        p.contact-box 
          i.material-icons.prefix.s12.m6 mail
          |   rsvp@aplausocerimonial.com.br
        p.contact-box 
          i.material-icons.prefix.s12.m6 phone
          |   (31) 9204 2341         
        p.contact-box 
          i.material-icons.prefix.s12.m6 phone
          |   (31) 99204 2341              
                
