div#people
  .container
    .card
      .card-content
        h3.main-title Os Padrinhos
        p.lead Aos nossos queridos padrinhos:
        p.lead É uma emoção única e indescritível tê-los ao nosso lado e poder partilhar com vocês toda felicidade dessa nova etapa em nossas vidas: nosso casamento! Por isso, desejamos tê-los como testemunhas do nosso sonho e do nosso amor!
    div.row
      div.s12.l6.col
        people-card(link="assets/images/maraisa.png", name="Maraísa Reis")
        
      div.s12.l6.col
        people-card(link="assets/images/maraisa.png", name="Alayton de Carvalho")
    
    div.row
      div.s12.l6.col
        people-card(link='assets/images/dani.jpg', name='Danielle Abrantes')
        
      div.s12.l6.col
        people-card(link='assets/images/caio.jpg', name='Caio Rabelo')
              
    div.row
      div.s12.l6.col
        people-card(link="assets/images/regilene.png", name="Regilene Terra")
      
      div.s12.l6.col
        people-card(link="assets/images/lucas.jpg", name="Lucas Carvalho")
    
    div.row
      div.s12.l6.col
        people-card(link="assets/images/vaninha.png", name="Vaninha Oliveira")
      
      div.s12.l6.col
        people-card(link="assets/images/lucas.jpg", name="Marcus Otávio")
    
    div.row
      div.s12.l6.col
        people-card(link="assets/images/regilene.png", name="Rayana Khoury")
      
      div.s12.l6.col
        people-card(link="assets/images/lucas.jpg", name="Paulo Sérgio Borges")

    div.row
      div.s12.l6.col
        people-card(link="assets/images/regilene.png", name="Tatiana Leitão")
      
      div.s12.l6.col
        people-card(link="assets/images/lucas.jpg", name="Unkown")

    div.row
      div.s12.l6.col
        people-card(link="assets/images/pedro.jpg", name="Pedro Pires")
      
      div.s12.l6.col
        people-card(link="assets/images/silvia.jpg", name="Sílvia Takahashi")
        
    div.row
      div.s12.l6.col
        people-card(link="assets/images/regilene.png", name="Cleane Panta")
      
      div.s12.l6.col
        people-card(link="assets/images/joao.jpg", name="João Fábio")

    div.row
      div.s12.l6.col
        people-card(link="assets/images/thalita.jpg", name="Thalita Fernandes")
      
      div.s12.l6.col
        people-card(link="assets/images/marcelo.jpg", name="Marcelo Carvalho")

    div.row
      div.s12.l6.col
        people-card(link="assets/images/regilene.png", name="Luzia Fernandes")
      
      div.s12.l6.col
        people-card(link="assets/images/lucas.jpg", name="Manoel Silva")
